<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FB2367448D4FC4D9034230AA19CBE13E7F5CCACF</string>
				<key>dateExpires</key>
				<string>2021/1/2</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB2367448D4FC4D9034230AA19CBE13E7F5CCACF</string>
						<key>dateExpires</key>
						<string>2021/1/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U5V945UMKH</string>
						<key>name</key>
						<string>Xi'an NovaStar Tech Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB2367448D4FC4D9034230AA19CBE13E7F5CCACF</string>
						<key>dateExpires</key>
						<string>2021/1/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U5V945UMKH</string>
						<key>name</key>
						<string>Xi'an NovaStar Tech Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB2367448D4FC4D9034230AA19CBE13E7F5CCACF</string>
						<key>dateExpires</key>
						<string>2021/1/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U5V945UMKH</string>
						<key>name</key>
						<string>Xi'an NovaStar Tech Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB2367448D4FC4D9034230AA19CBE13E7F5CCACF</string>
						<key>dateExpires</key>
						<string>2021/1/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U5V945UMKH</string>
						<key>name</key>
						<string>Xi'an NovaStar Tech Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB2367448D4FC4D9034230AA19CBE13E7F5CCACF</string>
						<key>dateExpires</key>
						<string>2021/1/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U5V945UMKH</string>
						<key>name</key>
						<string>Xi'an NovaStar Tech Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB2367448D4FC4D9034230AA19CBE13E7F5CCACF</string>
						<key>dateExpires</key>
						<string>2021/1/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_plugin_android_lifecycle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U5V945UMKH</string>
						<key>name</key>
						<string>Xi'an NovaStar Tech Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB2367448D4FC4D9034230AA19CBE13E7F5CCACF</string>
						<key>dateExpires</key>
						<string>2021/1/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U5V945UMKH</string>
						<key>name</key>
						<string>Xi'an NovaStar Tech Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB2367448D4FC4D9034230AA19CBE13E7F5CCACF</string>
						<key>dateExpires</key>
						<string>2021/1/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U5V945UMKH</string>
						<key>name</key>
						<string>Xi'an NovaStar Tech Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB2367448D4FC4D9034230AA19CBE13E7F5CCACF</string>
						<key>dateExpires</key>
						<string>2021/1/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>orientation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U5V945UMKH</string>
						<key>name</key>
						<string>Xi'an NovaStar Tech Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB2367448D4FC4D9034230AA19CBE13E7F5CCACF</string>
						<key>dateExpires</key>
						<string>2021/1/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U5V945UMKH</string>
						<key>name</key>
						<string>Xi'an NovaStar Tech Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB2367448D4FC4D9034230AA19CBE13E7F5CCACF</string>
						<key>dateExpires</key>
						<string>2021/1/2</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U5V945UMKH</string>
						<key>name</key>
						<string>Xi'an NovaStar Tech Co.,Ltd</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>U5V945UMKH.com.nova.hpad</string>
				<key>com.apple.developer.team-identifier</key>
				<string>U5V945UMKH</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>U5V945UMKH.com.nova.hpad</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>114273d5-084a-4f5e-bea4-fea3daa6e690</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.nova.hpad</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>U5V945UMKH</string>
				<key>name</key>
				<string>Xi'an NovaStar Tech Co.,Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
